{% extends "base.html" %}
{% block js %}
{% endblock %}
{% block menu %}
<li><a href="home">Home</a></li>
<li ><a href="status_fans">Fans Analysis</a></li>
<li class="active"><a href="scene_market">Scene Marketing</a></li>
<li><a href="weibotools">Tools</a></li>
{% endblock %}
{% block mainbar %}
<div class="fans_right leftB">
<div class="wrap_title1">Marketing to own fans</div>
<div class="guangb20">
<div class="wrap_dott">
<div class="list_b1" style="margin:0px;">

<table width="100%" border="0" cellpadding="0" cellspacing="1">
<tr>

<td align="center" bgcolor="#F2F2F2" class="ltitle">ScreeName</td>
<!-- <td align="center" bgcolor="#F2F2F2" class="ltitle">认证</td> -->
<td align="center" bgcolor="#F2F2F2" class="ltitle">Sex</td>
<td align="center" bgcolor="#F2F2F2" class="ltitle">Location</td>
<td align="center" bgcolor="#F2F2F2" class="ltitle">Number of Fans</td>
<td width="55%" align="center" bgcolor="#F2F2F2" class="ltitle">Tags</td>       

<!-- <td align="center" bgcolor="#F2F2F2" class="ltitle">操作</td>  -->
</tr>
{% for fan in fans %}
<tr class="cropTrCls " >
    <td align="center" nickname="true"><a href="http://weibo.com/u/{{fan.id}}" class="linker-weibo-hre">{{fan.screenname}}</a></td>
    {% if fan.sex = 'm' %}
    <td align="center">Male</td>
    {%else%}
    <td align="center">Female</td>
    {%endif%}
<td align="center">{{fan.address}}</td>
<td align="center"><span class="Tb">{{fan.fansnumber}}</span></td>
<td align="center"><span class="Tb">{{fan.tagstring}}</span></td>
</tr>
{% endfor %}

</table>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="s_list_n rightB">
<a href="javascript:void(0);" onclick="front()" class="l_front" >Prev</a>
<a href="javascript:void(0);" onclick="next()" class="l_next" >Next</a>
</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>


{% endblock %}
{%block sidebar %}
{% endblock %}
